<!DOCTYPE html>
<html lang="en">
<head>
  <script type="module" src="./Form.js"></script>
</head>
<body>
  <h1>Form Test</h1>
  <section id="output"></section>
  <script>
    function printOutput(values) {
      console.log(values);
      let outputEl = document.getElementById('output');
      
      Object.keys(values).forEach(key => {
        let valueEl = document.createElement('p');
        valueEl.textContent = values[key];
        outputEl.appendChild(valueEl);
      });
    }

    window.addEventListener('DOMContentLoaded', () => {
      const form = document.createElement('app-form');
      document.body.appendChild(form);
      form.setBackgroundColor('lightblue');
      form.setLegend('Test Legend');
      form.addTextInput({ id: 'test-id-1', label: 'test label 1' });
      form.addOptionInput({ id: 'test-id-2', label: 'test label 2', values: ['option 1', 'option 2'] });
      form.addRadioInput({ id: 'test-id-3', label: 'test label 3', values: ['option 3', 'option 4'] });
      form.onSubmit(printOutput);
    });
  </script>
</body>
</html>