<!DOCTYPE html>
<html lang="en">
<head>
  <script type="module" src="./Navigation.js"></script>
</head>
<body>
  <header id="header">
    <h1>Navigation Test</h1>
  </header>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      let header = document.getElementById('header');
      let navigation = document.createElement('app-nav');
      navigation.addItem('Home', '/');
      navigation.addItem('Active Link', '/src/components/navigation/');
      navigation.addItem('Forms', '/src/components/form/');
      navigation.render(header);
    });
  </script>
</body>
</html>