<!DOCTYPE html>
<html lang="en">
<head>
  <script type="module" src="./Navigation.js"></script>
</head>
<body>
  <header id="header">
    <h1>Navigation Test</h1>
  </header>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      let header = document.getElementById('header');
      let navigation = document.createElement('app-nav');
      header.append(navigation);
      navigation.addItem('test link 1', 'http://test1.url');
      navigation.addItem('Page 2', './link.html');
      navigation.addItem('LinkToGoogle', 'https://google.com');
    });
  </script>
</body>
</html>