/* 
  Styles for form component
*/

:host {
  background-color: #ffffff;
  display: inline-block;
  min-width: 300px;
}

:host form {
  max-width: 900px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host fieldset {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px 20px 20px 20px;
  margin-bottom: 12px;
}

:host legend {
  position: relative;
  top: 28px;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
}

:host input,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

:host button[type="submit"] {
  background-color: #4caf50;
  width: 100px;
  color: #ffffff;
  cursor: pointer;
}

:host button[type="submit"]:hover {
  background-color: #45a049;
}

:host label {
  display: block;
  margin-bottom: 8px;
  color: #333333;
}