/* 
  Styles for navigation container
*/

:host {
  background-color: #ffffff;
  display: inline-block;
}

:host nav {
  background-color: #333333;
  overflow: hidden;
}

:host nav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

:host nav a:hover {
  background-color: #555555;
}

@media screen and (max-width: 600px) {
  :host nav a {
    float: none;
    width: 100%;
    text-align: center;
  }
}